
.data-source
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.data-source .card-wrapper
{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-source .card
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    transition-duration: 300ms;
}

.data-source .card:hover
{
    background: var(--bs-primary);
    color: #fff;
}

.data-source .card:hover .chevron-right
{
    stroke: #fff;
}

.provider-icon-wrap
{
    width: 60px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.provider-icon-wrap img
{
    width: 40px;
    max-height: 50px;
}

.provider-details
{
    display: flex;
    flex-direction: column;
}

.provider .title
{
    font-size: 18px;
    font-weight: 500;
}

.provider .description
{
    font-size: 13px;
}

.provider .chevron-right
{
    margin-left: auto;
}
