.sign-in
{
    width: 100%;
    height: 100%;
}

.sign-in .container
{
    width:100%;
    height:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}

.sign-in-wrap
{
    width: 100%;
    max-width: 450px;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:center;
    gap:20px;
}

.logo
{
    margin: auto;
}

.sign-in-wrap > .card
{
    border-radius: 12px;
}

.title
{
    font-size:30px;
    font-family:Poppins;
    font-weight:600;
}

.sign-in-form
{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.flex-horizontal
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-in-btn
{
    padding: 12px !important;
    font-size: 13px;
    font-family: 'Poppins';
    font-weight: 500;
}

.signup-message
{
    font-size: 14px;
    margin: auto;
}